
/*
 =========================================================
 * Black Dashboard - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/white-dashboard
 * Copyright 2018 Creative Tim (http://www.creative-tim.com) & UPDIVISION (https://updivision.com)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

 // Core

@import "white-dashboard/custom/functions";
@import "white-dashboard/bootstrap/functions";

@import "white-dashboard/custom/variables";
@import "white-dashboard/bootstrap/variables";

@import "white-dashboard/custom/mixins";
@import "white-dashboard/bootstrap/mixins";

 // Bootstrap components

@import "white-dashboard/bootstrap/root";
@import "white-dashboard/bootstrap/reboot";
@import "white-dashboard/bootstrap/type";
@import "white-dashboard/bootstrap/images";
@import "white-dashboard/bootstrap/code";
@import "white-dashboard/bootstrap/grid";
@import "white-dashboard/bootstrap/tables";
@import "white-dashboard/bootstrap/forms";
@import "white-dashboard/bootstrap/buttons";
@import "white-dashboard/bootstrap/transitions";
@import "white-dashboard/bootstrap/dropdown";
@import "white-dashboard/bootstrap/button-group";
@import "white-dashboard/bootstrap/input-group";
@import "white-dashboard/bootstrap/custom-forms";
@import "white-dashboard/bootstrap/nav";
@import "white-dashboard/bootstrap/navbar";
@import "white-dashboard/bootstrap/card";
@import "white-dashboard/bootstrap/breadcrumb";
@import "white-dashboard/bootstrap/pagination";
@import "white-dashboard/bootstrap/badge";
@import "white-dashboard/bootstrap/jumbotron";
@import "white-dashboard/bootstrap/alert";
@import "white-dashboard/bootstrap/progress";
@import "white-dashboard/bootstrap/media";
@import "white-dashboard/bootstrap/list-group";
@import "white-dashboard/bootstrap/close";
@import "white-dashboard/bootstrap/modal";
@import "white-dashboard/bootstrap/tooltip";
@import "white-dashboard/bootstrap/popover";
@import "white-dashboard/bootstrap/carousel";
@import "white-dashboard/bootstrap/utilities";
@import "white-dashboard/bootstrap/print";

 // Custom components

 @import "white-dashboard/custom/alerts.scss";
 @import "white-dashboard/custom/buttons.scss";
 @import "white-dashboard/custom/dropdown.scss";
 @import "white-dashboard/custom/footer.scss";
 @import "white-dashboard/custom/forms.scss";
 @import "white-dashboard/custom/images.scss";
 @import "white-dashboard/custom/modal.scss";
 @import "white-dashboard/custom/navbar.scss";
 @import "white-dashboard/custom/type.scss";
 @import "white-dashboard/custom/tables";
 @import "white-dashboard/custom/checkboxes-radio";
 @import "white-dashboard/custom/fixed-plugin";
 @import "white-dashboard/custom/sidebar-and-main-panel.scss";
 @import "white-dashboard/custom/misc.scss";
 @import "white-dashboard/custom/rtl.scss";
 @import "white-dashboard/custom/input-group.scss";


 // Vendor / Plugins

@import "white-dashboard/custom/vendor/plugin-perfect-scrollbar.scss";
@import "white-dashboard/custom/vendor/plugin-animate-bootstrap-notify.scss";

// light mode

@import "white-dashboard/custom/white-content.scss";

// Cards

@import 'white-dashboard/custom/card';
@import "white-dashboard/custom/cards/card-chart";
@import "white-dashboard/custom/cards/card-map";
@import "white-dashboard/custom/cards/card-user";
@import "white-dashboard/custom/cards/card-task";
@import "white-dashboard/custom/cards/card-plain";

.full-page {
    &.pricing-page, &.login-page, &.lock-page, &.register-page {
        min-height: 100vh;
        background: radial-gradient(#1e1e2f, #1e1e24);
    }

    >.content {
        padding-bottom: 150px;
        padding-top: 150px;
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding-left: 48px;
        padding-right: 48px;
    }

    .login-page {
        .card-login {
            &.card-white {
                .card-header {
                    .card-title {
                        color: #ffffff;
                    }
                }
            }

            .card-header {
                .card-title {
                    position: relative;
                    font-size: 5em;
                    font-weight: 900;
                    color: #222a42;
                    text-transform: lowercase;
                    margin-left: -5px;
                    z-index: 1;
                }

                img {
                    position: absolute;
                }

                padding: 0 0 100px;
                overflow: hidden;
            }

             .input-group:last-child {
                margin-bottom: 40px;
            }

            border-radius: 0.4285rem;
            padding-bottom: 0.7rem;
        }

        .link {
            font-size: 10px;
            text-decoration: none;
        }
    }

    &.register-page {
        .info-horizontal {
            text-align: left !important;
            padding: 0px 0px 20px;

            .icon {
                margin-top: 0;

                >i {
                    font-size: 2em;
                }
            }

            .description {
                overflow: hidden;

                .info-title {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.card-register {
    .card-header {
        padding: 0 0 65px;
        overflow: hidden;
        z-index: 1;

        .card-title {
            position: relative;
            font-size: 5em;
            font-weight: 900;
            color: #222a42;
            text-transform: lowercase;
            margin-left: -5px;
            z-index: 1;
        }
    }

    .form-check {
        margin-top: 20px;
        margin-left: 20px;
    }

    .card-footer {
        margin-bottom: 10px;
        margin-top: 24px;
    }

    &.card-white {
        .card-header {
            .card-title {
                color: #ffffff;
            }
        }
    }

    .card-img {
        position: absolute;
        left: 0;
        top: -15%;
        width: 70%;
    }
}

.info-horizontal {
    .icon {
        float: left;
        margin-top: 23px;
        margin-right: 10px;
    }
}

.icon{
    &.icon-warning {
        color: #ff8d72;
    }

    &.icon-primary {
        color: #e14eca;
    }

    &.icon-info {
        color: #1d8cf8;
    }
}
